.alemanha{
  color: orange;
  font-weight: bold;
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
}
.brasil{
  color:yellow;
  font-style: italic;
  background-color: blue;
  border: 3px solid green;
  text-align: center;
}
